.circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: relative;
  &.low {
    background-color: var(--color-priority-low);
  }
  &.high {
    background-color: var(--color-priority-high);
  }
  &.medium {
    background-color: var(--color-priority-medium);
  }
  &.default {
    background-color: var(--color-circle);
  }
}
.star {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  .startDef {
    display: block;
    transform: scale(0);
    transition: transform 400ms ease-in;
    &.active {
      transform: scale(1.4) rotate(720deg);
    }
    &.inactive {
      transform: scale(0);
      &.animActive {
        transform: scale(0) rotate(-720deg);
      }
    }
  }
  &.low {
    color: var(--color-priority-low);
  }
  &.high {
    color: var(--color-priority-high);
  }
  &.medium {
    color: var(--color-priority-medium);
  }
  &.default {
    color: var(--color-circle);
  }
}
