.listTransitionEnter {
  transform: translateY(-73px);
}
.listTransitionEnterActive {
  transform: translateY(0);
  transition: transform 200ms ease-in;
}

.listTransitionExit {
  transform: translateY(0);
  transition: transform 400ms ease-in;
}

.listTransitionExitActive {
  transform: translateY(3000px);
}

.strikeThroughEnter {
  position: absolute;
  width: 0;
  height: 2px;
  top: 11px;
}
.strikeThroughEnterActive {
  width: 100%;
  transition: width 200ms ease-in;
}

.strikeThroughEnterDone {
  position: absolute;
  width: 0;
  height: 2px;
  top: 11px;
  width: 100%;
}
.strikeThroughExit {
  position: absolute;
  width: 0;
  height: 2px;
  top: 11px;
  width: 100%;
}

.strikeThroughExitActive {
  position: absolute;
  width: 0;
  height: 2px;
  top: 11px;
  transition: width 200ms ease-in;
}

.todoList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .todoItem {
    border: 1px solid var(--color-placeholder);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    .info {
      display: flex;
      padding: 8px;
      justify-content: space-between;
      .titleMain {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        flex: 1;
        .strike {
          border-radius: 2px;
          background-color: var(--color-solid);
        }
        .titleText {
          font-size: 14px;
          line-height: 19px;
          font-weight: bold;
          word-break: break-word;
        }
      }
      .optionsMain {
        display: flex;
        gap: 8px;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
        .markBtnMain {
          @media screen and (max-width: 630px) {
            display: none;
          }
        }
        .btn {
          border: none;
          background: none;
          color: inherit;
          outline: none;
          cursor: pointer;
          transition: transform 200ms;
          &.rotate {
            transform: rotate(180deg);
            transition: transform 200ms;
          }
        }
      }
    }
    .todoDesc {
      max-height: 0;
      overflow: hidden;
      transition: max-height 200ms ease-out;
      .main {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
        .endTime {
          font-size: 12px;
          font-weight: 600;
          display: flex;
          gap: 4px;
        }
      }
      .desc {
        font-size: 14px;
        font-weight: 600;
        overflow-wrap: break-word;
      }
      .empty {
        color: var(--color-placeholder);
      }

      &.low {
        background-color: var(--color-priority-low);
      }
      &.high {
        background-color: var(--color-priority-high);
      }
      &.medium {
        background-color: var(--color-priority-medium);
      }
      &.show {
        max-height: 500px;
        transition: max-height 200ms ease-in;
      }
    }
  }
}
